table.table.table-bordered.table-condensed.table-hover
  thead
    th = t('infinitive', hint: true)
    th = t('tenses.past_simple', hint: true)
    th = t('tenses.past_participle', hint: true)
  tr
    td <strong>love</strong> (#{t('verbs.love', hint: true)})
    td <strong>loved</strong> (#{t('verbs.past.simple.love', hint: true)})
    td <strong>loved</strong> (#{t('verbs.past.participle.love', hint: true)})
  tr
    td <strong>drink</strong> (#{t('verbs.drink', hint: true)})
    td <strong>drank</strong> (#{t('verbs.past.simple.drink', hint: true)})
    td <strong>drunk</strong> (#{t('verbs.past.participle.drink', hint: true)})
  tr
    td <strong>have</strong> (#{t('verbs.have', hint: true)})
    td <strong>had</strong> (#{t('verbs.past.simple.have', hint: true)})
    td <strong>had</strong> (#{t('verbs.past.participle.have', hint: true)})
  tr
    td <strong>come</strong> (#{t('verbs.come', hint: true)})
    td <strong>came</strong> (#{t('verbs.past.simple.come', hint: true)})
    td <strong>come</strong> (#{t('verbs.past.participle.come', hint: true)})
  tr
    td <strong>think</strong> (#{t('verbs.think', hint: true)})
    td <strong>thought</strong> (#{t('verbs.past.simple.think', hint: true)})
    td <strong>thought</strong> (#{t('verbs.past.participle.think', hint: true)})
  tr
    td <strong>go</strong> (#{t('verbs.go', hint: true)})
    td <strong>went</strong> (#{t('verbs.past.simple.go', hint: true)})
    td <strong>gone</strong> (#{t('verbs.past.participle.go', hint: true)})
  tr
    td <strong>see</strong> (#{t('verbs.see', hint: true)})
    td <strong>saw</strong> (#{t('verbs.past.simple.see', hint: true)})
    td <strong>seen</strong> (#{t('verbs.past.participle.see', hint: true)})
  tr
    td <strong>know</strong> (#{t('verbs.know', hint: true)})
    td <strong>knew</strong> (#{t('verbs.past.simple.know', hint: true)})
    td <strong>known</strong> (#{t('verbs.past.participle.know', hint: true)})
  tr
    td <strong>do</strong> (#{t('verbs.do', hint: true)})
    td <strong>did</strong> (#{t('verbs.past.simple.do', hint: true)})
    td <strong>done</strong> (#{t('verbs.past.participle.do', hint: true)})
  tr
    td <strong>give</strong> (#{t('verbs.give', hint: true)})
    td <strong>gave</strong> (#{t('verbs.past.simple.give', hint: true)})
    td <strong>given</strong> (#{t('verbs.past.participle.give', hint: true)})
  tr
    td <strong>bring</strong> (#{t('verbs.bring', hint: true)})
    td <strong>brought</strong> (#{t('verbs.past.simple.bring', hint: true)})
    td <strong>brought</strong> (#{t('verbs.past.participle.bring', hint: true)})
  tr
    td <strong>take</strong> (#{t('verbs.take', hint: true)})
    td <strong>took</strong> (#{t('verbs.past.simple.take', hint: true)})
    td <strong>taken</strong> (#{t('verbs.past.participle.take', hint: true)})
  tr
    td <strong>be</strong> (#{t('verbs.be', hint: true)})
    td <strong>was; were</strong> (#{t('verbs.past.simple.be', hint: true)})
    td <strong>been</strong> (#{t('verbs.past.participle.be', hint: true)})
