//
// Put application variables here.
//

$foregroundColor: #dd4814;
$footerBackgroundColor: #A28559;
$footerBottomBackgroundColor: #B9A27F;
$footerBorderColor: rgb(204, 181, 147);
$footerPlaceholderColor: lighten(#B0966F, 15);
$navbarHeight: 0px;
