.user-profile {
  .formSep {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dashed #dcdcdc;
  }

  .tabbable {
    margin-top: 30px;

    .form-horizontal {
      .control-label {
        width: 60px;
      }
      .controls {
        margin-left: 80px;
      }

      &.unit {
        .control-label {
          width: 70px;
        }
        .controls {
          margin-left: 100px;
        }
      }
    }
    .tab-pane {
      margin-top: 50px;
      padding: 10px;
    }
  }

  .chart {
    width: 400;
    height: 300;
  }
}
